@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.4;
}

.container {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    width: 150px;
    height: auto;
}

.centre-nav {
    display: flex;
}

.search {
    display: flex;
}

.search input {
    min-width: 600px;
    padding: 10px 20px;
    border: 0.5px solid #ccc;
    border-radius: 20px;
    height: 50px;
}

.search button {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    height: 50px;
}

.mic {
    margin-left: 15px;
    display: grid;
    padding: 15px;
    border-radius: 50%;
    background: #f1f0f0;
    place-items: center;
}

.mic img {
    width: 20px;
}

.side-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    gap: 20px;
}

.tags {
    display: flex;
    padding: 10px 20px 10px 70px;
    gap: 15px;
    border-top: 1px solid #ccc;
}

.tag {
    padding: 5px 20px;
    border-radius: 15px;
    /* border: 1px solid rgb(22, 22, 22); */
}

.dark {
    color: white;
    background: #000;
}

.light {
    color: rgb(67, 67, 67);
    background: rgb(238, 238, 238);
}

aside {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.side-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-icons img {
    width: 30px;
}

.side-icons p {
    margin-top: -5px;
    font-size: 10px;
}

.bars {
    margin-top: 13px;
}

.main-container {
    width: 100%;
}

main {
    min-height: 100vh;
    background: #f4f1f185;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card {
    padding: 10px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}

.avatar-content {
    padding-top: 10px;
    display: flex;
    gap: 5px;
}

.card h3 {
    font-size: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.channel-name {
    font-size: 16px;
    font-weight: bold;
}

.content-status {
    display: flex;
    font-size: 14px;
    gap: 10px;
}
.load{
    animation-name: parth;
    background-color: red;
    height: 3px;
    width: 100vw;
    animation-duration: 2.5s;
    animation-delay: 0s;
    animation-direction: normal;
}
@keyframes parth {
    from{
        width: 0vw;
    }
    to{
        width: 100vw;
    }
}
